.container {
    padding: 10px;
}

.form-signin {
    max-width: 330px;
    margin: 0 auto;
    padding: 15px;
}

h1 {
    padding: 0;
    margin: 0;
}

hr {
    margin: 10px 0;
}

li[role="button"]:hover {
    background-color: lightblue;
}

.color-bar {
    background: linear-gradient(to right, #FA2A09, #F3FA09 ,#47E534);
    height: 25px;
    width: 100%;
    border: 1px solid grey;
    margin: -3px 0 2px 0;
    padding: 0 5px;
}

i {
    margin-left: -6px;
}

.patient-column {
    border-right: 1px solid #eee;
}

.info {
    padding: 0 30px;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
}

input[type=range]::-webkit-slider-thumb {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid black;
    cursor: ew-resize;
    -webkit-appearance: none;
    margin-top: -5px;
}

input[type=range]:focus {
    outline: none;
}

.comment{
    margin-left: -5px;
    margin-top: -2px;
    font-size: 20px;
}
textarea{
    width: 100%;
}

.dots {
    margin: 5px;
    width: 30px;
    font-size: 30px !important;
}

.dots.fa-circle {
    color: green;
}

.blinking {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% { opacity: 0; }
}

.alignleft {
	float: left;
}
.alignright {
	float: right;
}