<div ng-if="dailyProgressVm.model.exercise">
    <h3>Daily progress: {{dailyProgressVm.model.exercise.name}}
        <i role="button" class="fa fa-info-circle" style="font-size: 25px; margin-left: 10px; color: #337ab7"
           data-toggle="modal" data-target="#viewImageModal"></i>
    </h3>
    <div class="row">
        <div class="graph col-sm-7">
            <nvd3 options="dailyProgressVm.model.exercise.options" data="dailyProgressVm.model.exercise.data"
                  ng-if="dailyProgressVm.model.exercise.data"></nvd3>
            <div class="alignright comment" ng-if="dailyProgressVm.model.detail">
                <button class="btn btn-primary" data-toggle="modal" data-target="#commentModal">
                    <i class="fa fa-comment-o"></i> Comment
                </button>

            </div>
        </div>
        <div class="details col-sm-5">
            <ul class="list-inline pre-scrollable">
                <li class="list-group-item" role="button"
                    ng-repeat="detail in dailyProgressVm.model.exercise.dailyProgress"
                    ng-click="dailyProgressVm.setDailyProgressDetail(detail)">
                    {{detail.date | date:'EEE MM/dd'}}
                </li>
            </ul>
            <div class="detail">
                <div ng-repeat="(key, data) in dailyProgressVm.model.detail"
                     ng-if="['holdTime','completionRate','progressIndex','painIndex','exertionAngle'].indexOf(key) > -1">
                    <i class="fa fa-arrow-down"
                       ng-style="{'position': 'relative','left': ''+data*100+'%'}"></i>
                    <div class="color-bar"><label>{{key | translate}}: {{data*100 | number:1}}%</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="dailyProgressVm.model.progressIndex">
        <label>Progress Index:</label>
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow="dailyProgressVm.model.progressIndex * 100"
                 aria-valuemin="0" aria-valuemax="100"
                 ng-style="{'width':''+dailyProgressVm.model.progressIndex * 100+'%'}">
                {{dailyProgressVm.model.progressIndex * 100 | number:1}}%
            </div>
        </div>
    </div>
</div>


<!-- Comment Modal -->
<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Write a comment</h4>
            </div>
            <div class="modal-body">
                <form class="form-group">
                    <div ng-if="dailyProgressVm.model.type == 'doctor'">
                        {{dailyProgressVm.model.detail.patientComment}}
                    </div>
                    <textarea class="input-group" ng-model="dailyProgressVm.model.detail.doctorComment"
                              placeholder="Comment" ng-if="dailyProgressVm.model.type == 'doctor'"></textarea>
                    <textarea class="input-group" ng-model="dailyProgressVm.model.detail.patientComment"
                              placeholder="Patient Comment" ng-if="dailyProgressVm.model.type == 'patient'"></textarea>
                    <div ng-if="dailyProgressVm.model.type == 'patient'">
                        {{dailyProgressVm.model.detail.doctorComment}}
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="dailyProgressVm.updateDailyProgress()"
                        data-dismiss="modal">
                    Post Comment
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Image Modal -->
<div class="modal fade" id="viewImageModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Exercise</h4>
            </div>
            <div class="modal-body" ng-if="dailyProgressVm.model.exercise.name=='Exercise 1'">
                <img src="/img/img1.jpeg" alt="HTML5 Icon" style="width:520px;height:400px;">
            </div>
            <div class="modal-body" ng-if="dailyProgressVm.model.exercise.name=='Exercise 2'">
                <img src="/img/img2.jpeg" alt="HTML5 Icon" style="width:520px;height:400px;">
            </div>
            <div class="modal-body" ng-if="dailyProgressVm.model.exercise.name=='Exercise 3'">
                <img src="/img/img3.jpeg" alt="HTML5 Icon" style="width:520px;height:400px;">
            </div>
            <div>
                <p style="margin: 10px;">
                    Look at the instructions on the top right corner of the screen.

                <ul>
                    <li>
                        When "Place your hand over the Leap Motion" appears, place your hand at the start position and
                        adjustuntil message disappears.
                    </li>
                    <li>
                        When message disappears start the exercise as shown in the figure and hold for 3 seconds.
                    </li>
                    <li>
                        You are done with a set when "Take a break!" appears.
                    </li>
                </ul>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>