<h1>House MD</h1>
<hr>
<div class="sub-container">
    <div class="row">
        <div class="col-sm-3 patient-column">
            <h3>Patients</h3>
            <ul class="list-group">
                <li class="list-group-item" role="button" ng-repeat="patient in doctorVm.model.patients"
                    ng-click="doctorVm.setPatient(patient)">{{patient.name}}
                </li>
            </ul>
            <button class="btn btn-sm btn-primary btn-block" type="submit" data-toggle="modal"
                    data-target="#addPatientModal">Add Patient
            </button>
        </div>
        <div class="col-sm-9" ng-if="doctorVm.model.patient">
            <div class="row">
                <div class="col-sm-8 info">
                    <div class="row">
                        <h3>{{doctorVm.model.patient.name}}</h3>
                        <div id="textbox">
                            <p class="alignleft">{{doctorVm.model.patient.phone}}</p>
                            <p class="alignright">{{doctorVm.model.patient.email}}</p>
                        </div>
                        <div style="clear: both;"></div>
                        <div>{{doctorVm.model.patient.notes}}</div>
                    </div>
                    <div class="row" ng-if="doctorVm.model.exercise">
                        <h3>{{doctorVm.model.exercise.name}}</h3>
                        <div class="col-sm-11">
                            <input type="range" ng-model="doctorVm.model.exercise.completionRate" min="0" max="1" step="0.001"
                                   ng-mouseup="doctorVm.updateExercise()"/>
                            <div class="color-bar">
                                <label>Completion Rate: {{doctorVm.model.exercise.completionRate*100 | number:1}}%</label>
                            </div><br>
                            <input type="range" ng-model="doctorVm.model.exercise.exertionAngle" min="0" max="1" step="0.001"
                                   ng-mouseup="doctorVm.updateExercise()"/>
                            <div class="color-bar">
                                <label>Exertion Angle: {{doctorVm.model.exercise.exertionAngle*100 | number:1}}%</label>
                            </div><br>
                            <input type="range" ng-model="doctorVm.model.exercise.holdTime" min="0" max="1" step="0.001"
                                   ng-mouseup="doctorVm.updateExercise()"/>
                            <div class="color-bar">
                                <label>Hold Time: {{doctorVm.model.exercise.holdTime*100 | number:1}}%</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <exercises model="doctorVm.model" is-doctor="true"></exercises>
                </div>
            </div>
            <hr>
            <daily-progress model="doctorVm.model"></daily-progress>
        </div>
    </div>
</div>


<!-- Patient Modal -->
<div class="modal fade" id="addPatientModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Add a patient</h4>
            </div>
            <div class="modal-body">
                <form class="form-group">
                    <input type="text" class="form-control" placeholder="Name" ng-model="doctorVm.model.newPatient.name"/>
                    <input type="text" class="form-control" placeholder="Email" ng-model="doctorVm.model.newPatient.email"/>
                    <input type="text" class="form-control" placeholder="Phone" ng-model="doctorVm.model.newPatient.phone"/>
                    <input type="text" class="form-control" placeholder="Extra information"
                           ng-model="doctorVm.model.newPatient.notes"/>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="doctorVm.addPatient()" data-dismiss="modal">
                    Add Patient
                </button>
            </div>
        </div>
    </div>
</div>