<div class="row">
    <div class="col-sm-10">
        Current set: {{exerciseVm.model.runExercise.getCurrentSet()}}/{{exerciseVm.model.totalSets}}
        <div style="border: 1px solid black">
            <i class="dots fa" ng-repeat="i in exerciseVm.range track by $index"
               ng-class="{'fa-circle': exerciseVm.model.runExercise.getCompletedSets()[$index].success,
               'fa-circle-o': !exerciseVm.model.runExercise.getCompletedSets()[$index].success,
               'blinking': $index === exerciseVm.model.runExercise.getCurrentSet() - 1}"></i>
        </div>
    </div>
    <div class="col-sm-2" style="border: 1px solid black"
         ng-if="!exerciseVm.model.runExercise.isStarted() || (exerciseVm.model.runExercise.getBreakCounter() > 0)">
        <div ng-show="!exerciseVm.model.runExercise.isStarted() && !(exerciseVm.model.runExercise.getBreakCounter() > 0)">
            Position your hand above the Leap Motion.
        </div>
        <div ng-show="exerciseVm.model.runExercise.getBreakCounter() > 0">
            Take a break!
        </div>
    </div>
</div>
