<h3>Assigned Exercises</h3>
<ul class="list-group">
    <li class="list-group-item" role="button" ng-repeat="exercise in exercisesVm.model.patient.exercises"
        ng-click="exercisesVm.setExercise(exercise)">{{exercise.name}}
    </li>
</ul>
<button class="btn btn-sm btn-primary btn-block" type="submit" data-toggle="modal"
        data-target="#addExerciseModal" ng-if="exercisesVm.isDoctor">Add Exercise
</button>

<!-- Exercise Modal -->
<div class="modal fade" id="addExerciseModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Assign an exercise</h4>
            </div>
            <div class="modal-body">
                <form class="form-group">
                    <select class="form-control" ng-model="exercisesVm.model.newExercise.name">
                        <option>Exercise 1</option>
                        <option>Exercise 2</option>
                        <option>Exercise 3</option>
                    </select>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="exercisesVm.addExercise()"
                        data-dismiss="modal">
                    Assign Exercise
                </button>
            </div>
        </div>
    </div>
</div>