<div class="login" >
    <form class="form-signin">
        <input type="text" class="form-control" placeholder="Username" ng-model="loginVm.username" />
        <input type="password" class="form-control" placeholder="Password" ng-model="loginVm.password"/>
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="loginVm.login()">Sign in</button>
    </form>
</div>
