<h1>Patient</h1>
<hr>
<div class="col-sm-2">
    <exercises model="patientVm.model" is-doctor="false"></exercises>
</div>
<div class="col-sm-10">
    <div class="row" ng-if="patientVm.model.dailyExercise">
        <exercise model="patientVm.model"></exercise>
    </div>
    <div class="row">
        <button type="button" class="btn btn-primary" ng-click="patientVm.startDailyExercise()"
                ng-if="patientVm.model.exercise && !patientVm.model.dailyExercise">Start Exercise
        </button>
        <daily-progress model="patientVm.model"></daily-progress>
    </div>
</div>
